
.iscanner body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.iscanner a {
  color: #04871e;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.iscanner a:hover, 
.iscanner a:focus {
  color: #fff;
}

.iscanner hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

.iscanner hr.light {
  border-color: white;
}

.iscanner h1,
.iscanner h2,
.iscanner h3,
.iscanner h4,
.iscanner h5,
.iscanner h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.iscanner p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.iscanner section {
  padding: 100px 0;
}

.iscanner section h2 {
  font-size: 50px;
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background: url("../img/background.jpg");
  background-size: 100% 100%;
}

header.masthead  .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 135, 30, 0.7)
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
  z-index: 1;
  position: relative;
}

header.masthead .header-content h1 {
  font-size: 30px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: #fff
}

header.masthead .header-content p {
  font-size: 25px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  color: #fff
}

header.masthead .header-content a {
  color: #fff;
  border-color: #fff
}

header.masthead .header-content a:hover {
  background: #064b00;
  border-color: #064b00
}

@media (min-width: 992px) {
  header.masthead {
    height: calc(100vh - 52px);
    min-height: 775px;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
}

.iscanner section.download {
  position: relative;
  padding: 150px 0;
}

.iscanner section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

.iscanner section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

.iscanner section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

.iscanner section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  .iscanner section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .iscanner section.download h2 {
    font-size: 70px;
  }
}

.iscanner section.features .section-heading {
  margin-bottom: 0px;
}

.iscanner section.features .section-heading h2 {
  margin-top: 0;
}

.iscanner section.features .section-heading p {
  margin-bottom: 0;
}

.iscanner section.features .feature-item {
  max-width: 1000px;
  margin: 0 auto;
}

.iscanner section.features .device-container {
  margin-bottom: 50px;
  margin-top: 50px
}

@media (min-width: 992px) {
  .iscanner section.features .device-container {
    margin-bottom: 0;
  }
}

.iscanner section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.iscanner section.features .feature-item h3 {
  font-size: 30px;
}

.iscanner section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iscanner section.cta {
  position: relative;
  background-image: url("/iscanner/about/img/bottombg.jpg");
  background-position: center;
  background-size: cover;
}

.iscanner section.cta .cta-content {
  position: relative;
  z-index: 1;
  margin-right: 0;
}

.iscanner section.cta .cta-content h2 {
  font-size: 46px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #04871e;
}

@media (min-width: 768px) {
  .iscanner section.cta .cta-content h2 {
    font-size: 80px;
  }
}

.iscanner section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4)
}

.iscanner section.contact {
  text-align: center;
}

.iscanner section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.iscanner section.contact h2 i {
  color: #dd4b39;
}

.iscanner section.contact ul.list-social {
  margin-bottom: 0;
}

.iscanner section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

.iscanner section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

.iscanner section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

.iscanner section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

.iscanner section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

.iscanner section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

.iscanner section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: #064b00;
  border: 1px solid;
  border-color: #064b00;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: #ffffff;
  border-color:#064b00;
  background-color: #064b00
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}


.arrows {
	width: 60px;
	height: 72px;
  margin: 15px auto
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}