
<footer class="center-block" style="background-color: #e9e9e9; text-align:center; padding: 50px 0 10px;">
	<div>
    <b><a href="/privacy-policy">Privacy Policy</a>&nbsp; | &nbsp;<a href="/blog">Blog</a>&nbsp; | &nbsp;<a href="/buy-calculator">Buy Calculator</a>&nbsp; | &nbsp;<a href="/services">Services</a>&nbsp; | &nbsp;<a href="/kelas-saham">Seminar</a>&nbsp; | &nbsp;<a href="/premium">Premium</a>&nbsp; | &nbsp;<a href="/elearning">eLearning</a>&nbsp; | &nbsp;<a href="/labs">Labs</a>&nbsp; | &nbsp;<a href="/portfolio-generator">Portfolio Generator</a>&nbsp; | &nbsp;<a href="/business">Business</a></b>
  </div>
	<br>
  <div class="fb-page" data-href="https://www.facebook.com/isaham.my/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/isaham.my/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/isaham.my/">iSaham</a></blockquote></div>
  <br>
  <hr>
  <div class="col-12 footer-is">
    <p id="risk-disclosure" style="text-align: justify">
      <i>Risk Disclosure: iSaham will not accept any liability for loss or damage as a result of reliance on the information contained within this website including data, quotes, charts, screeners and analysis. Please be fully informed regarding the risks and costs associated with trading the financial markets, it is one of the riskiest investment forms possible.</i>
    </p>
    <p style="color: grey">&copy; 2016-2019 iSaham. All Rights Reserved. </p>
  </div>

</footer>

<script src="/js/tablesorter2.js"></script>
<script src="/js/script.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74760403-2', 'auto');
  ga('send', 'pageview');

  if( window.canRunAds3 === undefined ){
    // adblocker detected, show fallback
    
    var num_of_ads = 0;
    if ($("#ad-exist1").val() == "ad-exist1" && $("#ad-exist2").val() == "ad-exist2") {
      num_of_ads = 2;
    } else if ($("#ad-exist1").val() == "ad-exist1"){
      num_of_ads = 1;
    } else {
      num_of_ads = 0;
    }

    if (num_of_ads > 0) {
      $.ajax({
        type: "POST",
        url: "/get_ads",
        data: {"num_of_ads":num_of_ads},
        success: function(data) {
          console.log(data);
          $(".ad-href1").attr("href", "/goto/" + data.num1)
          $(".ad-src1").attr("src", data.image1)

          if (num_of_ads == 2) {
            $(".ad-href2").attr("href", "/goto/" + data.num2)
            $(".ad-src2").attr("src", data.image2)
          }
          
          $(".iklan").show();
        },
        dataType: 'json'
    })
    }
    
  }

</script>
</html>
