html,
body {
    width: 100%;
    height: 100%;
}
  
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 200;
    src:  local('Catamaran'),
          url('/fonts/Catamaran/Catamaran-ExtraLight.ttf') 
          format('truetype');
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src:  local('Muli'),
          url('/fonts/Muli/Muli-Regular.ttf') 
          format('truetype');
}

.isaham-feature {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.isaham-feature h1,
.isaham-feature h2,
.isaham-feature h3,
.isaham-feature h4,
.isaham-feature h5,
.isaham-feature h6 {
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

.isaham-feature p {
    font-size: 20px;
    line-height: 1.5;
}

@media (max-width: 992px) {
    .isaham-feature p {
        font-size: 18px;
    }
}

.isaham-feature a {
    -webkit-transition: all .35s;
    transition: all .35s;
}

.isaham-feature section {
    padding: 100px 0;
}

.isaham-feature header {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
}

.isaham-feature header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 39, 0, 0.5)
  }

.isaham-feature header .header-content {
    text-align: center;
    z-index: 1;
    position: relative;
}
  
/* .isaham-feature header .header-content h1 {
    font-size: 50px;
} */

@media (max-width: 992px) {
    .isaham-feature header {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

.isaham-feature section.features .section-heading h2 {
    margin-top: 0;
  }

.isaham-feature section.features .feature-item {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}