%include views/production/headerv1.2.html
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iSaham - iScanner</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/iscanner/about/css/iscanner-about.css" rel="stylesheet">

  </head>

  <body id="page-top" class="h-100 w-100" style="margin-top: 52px">
      <script>
          $("head link[rel='stylesheet']").first().before("<link rel='stylesheet' href='/iscanner/about/css/w3.css'>");
      </script>
    %include views/production/navbarv1.1.html
    <div class="iscanner">
        <header class="masthead">
            <div class="container">
              <div class="row">
                <div class="mx-auto my-auto">
                  <div class="header-content mx-auto">
      
                      <div class="w3-container w3-center w3-animate-top">
                          <h1>iScanner</h1>
      
                          <p style="font-size: 20px">Introducing iSaham iScanner. iScanner reinvents the way we interact with screeners.</p> 
                          <a href="https://www.isaham.my/iscanner" class="btn btn-outline btn-xl js-scroll-trigger">Try iScanner</a>
                          <div class="arrows">
                              <svg >
                                  <path class="a1" d="M0 0 L30 32 L60 0"></path>
                                  <path class="a2" d="M0 20 L30 52 L60 20"></path>
                                  <path class="a3" d="M0 40 L30 72 L60 40"></path>
                              </svg>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay"></div>
          </header>
      
          <section class="features" id="features">
            <div class="container">
              <div class="section-heading text-center">
                <h2>Powerful stock screening</h2>
                <p class="text-muted">Check out what you can do with iScanner!</p>
                <hr>
              </div>
              <div class="col-lg-9 mx-auto">
                  <div class="device-container">
                    <div class="device-mockup macbook_2015 gold">
                      <div class="device">
                        <div class="screen">
                          <img src="/iscanner/about/img/iscanner2.png" style="width: 100%; height:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mx-auto my-auto">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="feature-item">
                          <img src="/iscanner/about/img/windows.svg" style="width:120px; height: 120px">
                          <h3>Criteria Search</h3>
                          <p class="text-muted">Criteria search makes your screener easier than never before</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="feature-item">
                          <img src="/iscanner/about/img/list.svg" style="width:120px; height: 120px;padding-bottom: 20px;">
                          <h3>Results</h3>
                          <p class="text-muted">Results only shows screeners that meets your criteria </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="feature-item">
                          <img src="/iscanner/about/img/savee.svg" style="width:120px; height: 120px; padding-bottom: 30px;">
                          <h3>Save</h3>
                          <p class="text-muted">Save your customized screener for ease of access and search for later</p>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="feature-item">
                          <img src="/iscanner/about/img/chart.png" style="width:120px; height: 120px; padding-bottom: 30px;">
                          <h3>Top Scanners </h3>
                          <p class="text-muted">View short-listed top scanners by users </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
  
          <section class="cta">
            <div class="cta-content">
              <div class="container">
                <h2>Discover more about iScanner </h2>
                <a href="https://www.isaham.my/iscanner" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
              </div>
            </div>
            <div class="overlay"></div>
          </section>
    </div>
    </body>
%include views/production/footerv1.2.html
