%include views/production/headerv1.2.html
<link rel="stylesheet" href="/css/isaham.css" type="text/css">
</head>
<body id="page-top" class="h-100 w-100" style="margin-top: 50px">
    %include views/production/navbarv1.1.html
    <div class="isaham-feature">
        <header>
            <div class="container header-content">
                <div class="col-lg-7 my-auto mx-auto">
                    <h1>Features Name Here. </h1>
                    <p>The green is the overlay. Add background to header-content</p>
                </div>
            </div>
            <div class="overlay"></div>
        </header>
        <section class="features"> 
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Features</h2>
                    <p class="text-muted">Little text here. Can be removed</p>
                    <hr>
                </div>
                <div class="col-lg-12 my-auto">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="feature-item">
                            <div style="height: 50px; width: 50px; border-style: solid; border-radius: 50%; border-color:black; border-width: 1px; margin: 10px auto 20px auto"></div>
                            <h3>Feature 1</h3>
                            <p class="text-muted">Description here. Lorem Ipsum</p>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="feature-item">
                                <div style="height: 50px; width: 50px; border-style: solid; border-radius: 50%; border-color:black; border-width: 1px; margin: 10px auto 20px auto"></div>
                            <h3>Feature 2</h3>
                            <p class="text-muted">Description here. Lorem Ipsum</p>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                        <div class="feature-item">
                                <div style="height: 50px; width: 50px; border-style: solid; border-radius: 50%; border-color:black; border-width: 1px; margin: 10px auto 20px auto"></div>
                            <h3>Feature 3</h3>
                            <p class="text-muted">Description here. Lorem Ipsum</p>
                        </div>
                        </div>
                        <div class="col-lg-6">
                        <div class="feature-item">
                                <div style="height: 50px; width: 50px; border-style: solid; border-radius: 50%; border-color:black; border-width: 1px; margin: 10px auto 20px auto"></div>
                            <h3>Feature 4</h3>
                            <p class="text-muted">Description here. Lorem Ipsum</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
%include views/production/footerv1.2.html