<!-- ISAHAM TEMPLATE -->
<!-- FEEL FREE TO COPY AND EDIT THIS TEMPLATE TO CREATE NEW PAGE -->
<!-- HEADER NAVBAR FOOTER INCLUDED AS DEFAULT -->
%include views/production/headerv1.2.html
    <title>{{title}}</title>
    <meta name="description" content="{{title}}" />
    <meta name="twitter:card" value="{{title}}">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="https://www.isaham.my/img/isaham.png" />
    <meta property="og:description" content="{{description}}" />
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/remisierbot/about/product.css" rel="stylesheet">
</head>
<body id="page-top" class="h-100 w-100" style="margin-top: 40px">
    %include views/production/navbarv1.1.html
    <div class="product">
        <header class="masthead">
            <div class="container h-100">
              <div class="h-100">
                <div class="my-auto">
                  <div class="header-content mx-auto">
                    <h1>iSaham RemisierBot</h1>
                    <h5 class="mb-5">Chat with our bot and discover how he can help you in minutes!</h5>
                    <a href="/remisierbot" class="btn btn-outline btn-xl js-scroll-trigger">Go to RemisierBot</a>
                  </div>
                </div>
              </div>
            </div>
          </header>
      
        <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Build to help</h2>
                <p class="text-muted">Check out what you can do with RemisierBot!</p>
                <hr>
            </div>
            <div class="row">
            <div class="col-lg-6 my-auto">
                <div class="device-container">
                <div class="device-mockup macbook"∂>
                    <div class="device">
                    <div class="screen">
                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                        <img src="/remisierbot/about/img/bot1.png" class="img-fluid" alt="">
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-6 my-auto">
                <div class="container-fluid">
                    <div class="col-lg-12">
                    <div class="feature-item">
                        <h3>Personal advisor</h3>
                        <p class="text-muted" style="text-align: left">RemisierBot help you to know more about the stock market and getting some help in trading. Don't know what stock you should buy? Ask directly to him!!</p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="features" id="features2">
            <div class="container">
                <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="container-fluid">
                        <div class="col-lg-12">
                        <div class="feature-item">
                            <h3>Fast response</h3>
                            <p class="text-muted" style="text-align: left">Chat with RemisierBot and get the answer in instant. No more waiting and frustrating for the slow respond</p>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 my-auto">
                    <div class="device-container">
                    <div class="device-mockup surface">
                        <div class="device">
                        <div class="screen">
                            <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                            <img src="/remisierbot/about/img/bot2.gif" class="img-fluid" alt="">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                </div>
            </div>
        </section>
        <section class="cta">
            <div class="cta-content">
                <div class="container">
                <h2>Let's Get Started!</h2>
                <a href="/remisierbot" id="cta-button" class="btn btn-outline btn-xl js-scroll-trigger">Go to RemisierBot</a>
                </div>
            </div>
            <div class="overlay"></div>
        </section>
    </div>
</body>
%include views/production/footerv1.2.html