html,
body {
  width: 100%;
  height: 100%;
}

.product {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.product a {
  color: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.product a:hover, 
.product a:focus {
  color: #fff;
}

.product hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

.product hr.light {
  border-color: white;
}

.product h1,
.product h2,
.product h3,
.product h4,
.product h5,
.product h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.product p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.product section {
  padding: 100px 0;
}

.product section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("/remisierbot/about/img/robot.png"), #04871e;
}

header.masthead .header-content {
  max-width: 600px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 500px;
    /* min-height: 775px; */
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

.product section.download {
  position: relative;
  padding: 150px 0;
}

.product section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

.product section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

.product section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

.product section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  .product section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .product section.download h2 {
    font-size: 70px;
  }
}

.product section.features .section-heading {
  margin-bottom: 100px;
}

.product section.features .section-heading h2 {
  margin-top: 0;
}

.product section.features .section-heading p {
  margin-bottom: 0;
}

.product section.features .device-container {
  margin: 0 auto;
}

.product section.features .feature-item {
  margin: 0 auto;
  max-width: 400px;
}

@media (min-width: 992px) {
  .product section.features .device-container {
    margin-bottom: 0;
  }
}

.product section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.product section.features .feature-item h3 {
  font-size: 30px;
  font-weight: 400;
}

.product section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #features2 . */

.product section.cta {
  position: relative;
  padding: 100px 0;
  /* background-image: url("/product/img/bg-cta.jpg");
  background-position: center;
  background-size: cover; */
  background: url("/remisierbot/about/img/robot.png"), #04871e;
}

.product section.cta .cta-content {
  position: relative;
  z-index: 1;
}

.product section.cta .cta-content h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  .product section.cta .cta-content h2 {
    font-size: 80px;
  }
}

.product section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.product section.contact {
  text-align: center;
}

.product section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.product section.contact h2 i {
  color: #dd4b39;
}

.product section.contact ul.list-social {
  margin-bottom: 0;
}

.product section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

.product section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

.product section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

.product section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

.product section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

.product section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

.product section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

.product footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

.product footer p {
  font-size: 12px;
  margin: 0;
}

.product footer ul {
  margin-bottom: 0;
}

.product footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.product footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #064b00;
  background-color: #064b00;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

@media (max-width: 992px) {
  /* Change order in mobile */
  #features2 .row{
    flex-direction: column-reverse;
  }
  .product section {
    padding: 20px 0;
  }
}

#cta-button:hover {
  background-color: white;
  color: #064b00;
}